body {
    background: #dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', 'sans-serif';
}

.inner:hover {
    clip-path: circle(75%); /* inset(0% 0% 0% 0%) */
    background: #00b6ff;
}

.inner:hover span {
    color: rgba(255,255,255,0)
}

.inner {
    background: #4bb14f;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    /*color: white;*/
    clip-path: circle(10% at 90% 20%); /* inset(0% 0% 0% 100%) */
    transition: all .5s ease-in-out;
    cursor: pointer;
}

h1 {
    margin: 0;
    color: white;
}

p {
    font-size: .8rem;
    color: white;
}

span {
    float: right;
    color: white;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 4%;
}

